/*sign in*/
body{
	background-color:#fff;
	margin:0;
	padding:0;
	
}
/* Sign Screens - Wrappers */
.body-sign {
	display: table;
	height: 100vh;
	margin: 0 auto;
	max-width: 500px;
	padding: 0 15px;
	width: 100%;
}
.body-sign .center-sign {
	display: table-cell;
	padding-top: 20px;
	vertical-align: middle;
}
.body-sign .panel-sign {
	background: transparent;
}
.body-sign .panel-sign .panel-title-sign .title {
	background-color: #0088cc;
	border-radius: 5px 5px 0 0;
	color: #FFF;
	display: inline-block;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 20px;
	line-height: 2rem;
	padding: 13px 17px;
	vertical-align: bottom;
	
}
.body-sign .panel-sign .panel-body {
	background: #FFF;
	border-top: 5px solid #0088cc;
	border-radius: 5px 0 5px 5px;
	box-shadow: 0 10px 20px #000;
	padding: 33px 33px 15px;
}

/* Sign Screens - Elements */
.body-sign .input-group-icon .input-group-addon i {
	width: 14px;
}
.body-sign .checkbox-custom {
	margin-top: 8px;
}
.body-sign .line-thru {
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	position: relative;
}
.body-sign .line-thru span {
	color: #CCC;
	position: relative;
	z-index: 3;
}
.body-sign .line-thru:before {
	background-color: #FFF;
	content: '';
	height: 10px;
	left: 50%;
	position: absolute;
	margin: -5px 0 0 -20px;
	top: 50%;
	width: 40px;
	z-index: 2;
}
.body-sign .line-thru:after {
	border-bottom: 1px solid #DADADA;
	content: '';
	display: block;
	left: 10%;
	position: absolute;
	top: 47%;
	width: 81%;
	z-index: 1;
}
.panel-body1 {
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}