<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Hetero</title>
		<meta name="keywords" content="HETERO" />
		<meta name="description" content="Hetero">
		<meta name="author" content="Hetero">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
	     <link href="Per_src/perfect-scrollbar.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="Per_src/jquery.mousewheel.js"></script>
        <script src="Per_src/perfect-scrollbar.js"></script>
        
      <style>
          .contentHolder { position:relative; margin:0px auto; padding:0px; width: 640px; height: 360px; overflow: hidden; }
          .contentHolder .content { background-image: url('./azusa.jpg'); width: 12800px; height: 7200px; }
          .spacer { text-align:center }
        </style>  
		
		<style>
      #description {
        border: 1px solid gray;
        height:100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
      }
    </style>
    
    
  <script>
      jQuery(document).ready(function ($) {
        "use strict";
        $('#Default').perfectScrollbar();
        $('#LongThumb').perfectScrollbar({minScrollbarLength:100});
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function ($) {
        $('#description').perfectScrollbar({
          wheelSpeed: 20,
          wheelPropagation: false
        });
      });
    </script>
    
    
	</head>
	<body>
	
	
	<div id="description" class="wrapper">
      <div>
      
					<!-- start: page -->
					<div class="container">
						<div class="row center_div1" >
							<div class="col-md-12">
								<div class="panel panel-danger" >
									<div class="panel-heading1">
										<span><b>HOLIDAYS LIST</b></span>
								
									</div>
									<div class="panel-body">
									<div id="content">
										<div class="table-responsive">
										
										
									<!-- 	<table class="table table-striped">
															<tr  ng-repeat="(key, value) in Data_1" ><td style="">{{ key }}</td> <td>{{ value }}</td></tr>
								                   </table>	 -->
											<table class="table table-striped">
											
													<thead class="thead-default text-center">
														<tr   >
															<th>EVENT DATE</th>
															<th>EVENT</th>
															<th>STATUS</th>
															<th>HOLIDAY TYPE</th>
														</tr>
													</thead>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													<tr ng-repeat="x in Data_1">
														<td>{{ x.EVENTDATE }}</td>
														<td>{{ x.EVENT }}</td>
														<td>{{ x.FLAG }}</td>
														<td>{{ x.HOLIDAYTYPE }}</td>
													</tr>
													
													
											</table>	
										</div>
									</div>
									</div>
									
								</div>
							</div>
						</div>	
						
					</div>
					<!-- end: page -->
				
        <!-- <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        
        
        
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        
        
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        
        
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        
        
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        
        
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p>
        <p>The command takes options applicable</p> -->
      </div>
    </div>
    
    
	
	 
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
	</body>
</html>